a {
    color: dimgray;
    text-decoration: none;
}

a:hover {
    color: #282c34;
    text-decoration: none;
    cursor: pointer;
}
.git-repository-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 15px;
    color: dimgray;
    padding: 15px;
}

.git-repository-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #282c34;
    cursor: pointer;
}

.git-repository {
    display: flex;
    flex-direction: column;
}

.github {
    align-self: flex-end;
    width: 30px;
    height: 30px;
}

.name {
    align-self: flex-start;
}

.language {
    margin-top: 10px;
    align-self: flex-start;
}

.description {
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.commits {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    height: 0;
    overflow: auto;
}

.commits.true {
    height: 200px;
    border-top: dimgrey 1px solid;
}